.main-page {
  position: relative;
  min-height: calc(100vh - 100px);
  padding: 20px;
  overflow-y: auto;
  /*width: calc(100vh - 350px);*/
  margin-left: 350px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease;
}

.document-form {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 3px solid #adbbba;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  padding: 10px;
  box-sizing: border-box;
}

.big-bold-text {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  justify-content: left;
  color: #1e1e1e;
}

.blue-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: left;
  color: #3d52a0;
  margin-bottom: 20px;
}

.black-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  justify-content: left;
  color: #1e1e1e;
  padding-top: 10px;
}

.row-box {
  margin-left: 10px;
  margin-right: 10px;
}

.col-box {
  width: 50%;
  margin-top: 20px;
}

.button-white {
  background-color: transparent;
  border-color: #3d52a0;
  color: #3d52a0;
  font-size: 24px;
  padding: 10px;
  width: 110px;
}

.button-white:hover {
  background-color: #3d52a0;
  border-color: #3d52a0;
  color: white;
}

.font-size-20 {
  font-size: 20px;
}

.button-small {
  background-color: transparent;
  border-color: #1e1e1e;
  color: #1e1e1e;
  font-size: 18px;
}

.button-small:hover {
  background-color: #1e1e1e;
  border-color: #1e1e1e;
  color: white;
}

@media (min-width: 768px) {
  .main-page.sidebar-open {
    display: block;
    margin-left: 350px; /* Adjust to match sidebar width */
  }
}
@media (max-width: 768px) {
  /* Style adjustments when sidebar is open on smaller screens */
  .main-page.sidebar-open {
    display: none; /* Hide main page content when sidebar is open on small screens */
  }
  /* Adjustments for smaller screens */
  .main-page {
    margin-left: 0; /* Full width on small screens */
    margin-top: 100px;
  }

  .document-form {
    width: 100%; /* Take up full width on small screens */
    margin-top: 0px; /* Margin for a little spacing on edges */
    max-height: calc(100vh - 130px);
    overflow-y: auto;
  }

  .big-bold-text {
    font-size: 20px;
  }

  .blue-text {
    font-size: 16px;
  }

  .black-text {
    font-size: 12px;
  }

  .font-size-20 {
    font-size: 12px;
  }

  .button-white {
    font-size: 14px;
    width: 70px;
    padding: 5px;
  }

  .button-small {
    font-size: 12px;
    padding: 5px;
  }
}

/* Container principale per occupare tutta la pagina */
.loginContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #3d52a0, #adbbba);
}

.loginWrapper {
  display: flex;
  background-color: #adbbba;
  border-radius: 1px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  height: 800px;
}
/* Sezione sinistra per il form, centrata verticalmente e orizzontalmente */
.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; /* Larghezza al 50% per dividere perfettamente */
  padding: 40px;
}

.loginFormContainer {
  justify-content: center;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form input {
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.loginBtn {
  background-image: linear-gradient(
    to right,
    #e8cbc0 0%,
    #636fa4 51%,
    #e8cbc0 100%
  );
}
.loginBtn {
  border: none;
  width: 45%;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.loginBtn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Sezione destra per l'immagine, con effetto opaco */
.imageSection {
  width: 50%; /* Larghezza al 50% per dividere perfettamente */
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Immagine completamente contenuta e opaca */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.explorer {
  font-weight: bold;
  font-style: italic;
  background: -webkit-linear-gradient(left, #3d52a0, #e8cbc0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Testo in risalto sopra l'immagine opaca 
.imageContainer h3,
.imageContainer p {
  position: relative;
  z-index: 2; /* Sopra l'immagine 
  color: black !important;
}

.imageContainer h3 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 10px;
  font-weight: 300;
  font-style: italic;
}

.imageContainer p {
  font-size: 1rem;
  color: #333;
}
*/

@media (max-width: 426px) {
  .document-form .row-box {
    flex-direction: column; /* Stack items vertically */
  }

  .document-form .col-box {
    width: 100%; /* Full width for each column on small screens */
  }
}
