.react-flow__edge {
  stroke: #333;
}
.react-flow__background {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: transparent;
  background-image: linear-gradient(#333 1px, transparent 0px),
    /* Adjusted from em to px */
      linear-gradient(90deg, #333 1px, transparent 0px); /* Adjusted from em to px */
  background-size: 140px 85px; /* Adjusted from em to px */
  z-index: -1;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  height: 650px;
}

.header-table {
  height: 50px;
}

.header-cell {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: left;
  font-weight: bold;
  width: 200px;
}

.side-table {
  width: 200px;
}

.side-cell {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 100px;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.node-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 200px;
  margin: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.node-form input,
.node-form button {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.node-form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.node-form button:hover {
  background-color: #0056b3;
}

.header-trans {
  translate: 200px 00px;
  position: absolute;
}

.sidebar-trans {
  translate: 0px 50px;
  position: absolute;
}

.point-trans {
  translate: 200px 50px;
  position: absolute;
}

svg {
  overflow: visible;
  position: absolute;
}

.node-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 50px;
  width: auto;
  height: auto;
  background: none;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 0;
  cursor: move;
  z-index: 10;
  padding: auto;
}
